<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MyConnectionString" connectionString="Server=ep-jolly-cherry-a5ub2x8e.us-east-2.aws.neon.tech;Port=5432;Database=hospital_management;User ID=hospital_management_owner;Password=sIFZ6kcA0iTj;" />
	</connectionStrings>
	
</configuration>